apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ ca_crt | b64encode }}
    server: https://{{ cluster_api_endpoint }}:6443
  name: {{ cluster_name }}
contexts:
- context:
    cluster: {{ cluster_name }}
    user: system:kube-proxy
  name: {{ cluster_name }}
current-context: {{ cluster_name }}
kind: Config
preferences: {}
users:
- name: system:kube-proxy
  user:
    client-certificate: {{ kube_proxy_work_dir }}/kube-proxy.crt
    client-key: {{ kube_proxy_work_dir }}/kube-proxy.key
