[Unit]
Description=kube-apiserver
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart=/usr/local/bin/kube-apiserver \
  --allow-privileged=true \
  --audit-log-maxage=30 \
  --audit-log-maxbackup=3 \
  --audit-log-maxsize=100 \
  --audit-log-path=/var/log/audit.log \
  --authorization-mode=Node,RBAC \
  --bind-address={{ ansible_host }} \
  --client-ca-file=/home/{{ ansible_user }}/ssl/ca.crt \
  --enable-admission-plugins=NamespaceLifecycle,NodeRestriction,LimitRanger,ServiceAccount,DefaultStorageClass,ResourceQuota \
  --etcd-servers={% for host in groups['controllers'] %}https://{{ hostvars[host].ansible_host }}:2379{% if not loop.last %},{% endif %}{% endfor %} \
  --etcd-cafile=/home/{{ ansible_user }}/ssl/ca.crt \
  --etcd-certfile=/home/{{ ansible_user }}/ssl/etcd-server.crt \
  --etcd-keyfile=/home/{{ ansible_user }}/ssl/etcd-server.key \
  --event-ttl=1h \
  --kubelet-certificate-authority=/home/{{ ansible_user }}/ssl/ca.crt \
  --kubelet-client-certificate=/home/{{ ansible_user }}/ssl/kube-apiserver.crt \
  --kubelet-client-key=/home/{{ ansible_user }}/ssl/kube-apiserver.key \
  --runtime-config='api/all=true' \
  --service-account-key-file=/home/{{ ansible_user }}/ssl/service-accounts.crt \
  --service-account-signing-key-file=/home/{{ ansible_user }}/ssl/service-accounts.key \
  --service-account-issuer=https://server.kubernetes.local:6443 \
  --service-node-port-range=30000-32767 \
  --tls-cert-file=/home/{{ ansible_user }}/ssl/kube-apiserver.crt \
  --tls-private-key-file=/home/{{ ansible_user }}/ssl/kube-apiserver.key \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
  WantedBy=multi-user.target
