apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ ca_crt | b64encode }}
    server: https://{{ cluster_api_endpoint }}:6443
  name: {{ cluster_name }}
contexts:
- context:
    cluster: {{ cluster_name }}
    user: system:{{ inventory_hostname }}
  name: {{ cluster_name }}
current-context: {{ cluster_name }}
kind: Config
preferences: {}
users:
- name: system:{{ inventory_hostname }}
  user:
    client-certificate: {{ kubelet_work_dir }}/{{ inventory_hostname }}.crt
    client-key: {{ kubelet_work_dir }}/{{ inventory_hostname }}.key
