---
- name: set up workers
  hosts: workers
  remote_user: vagrant
  roles:
    - common
    - containerd
  vars:
    containerd_binary_remote_path: https://github.com/containerd/containerd/releases/download/v2.1.0-beta.0/containerd-2.1.0-beta.0-linux-amd64.tar.gz
    containerd_binary_local_path: /bin/
    containerd_binary_name: containerd
