apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ ca_crt | b64encode }}
    server: https://{{ cluster_api_endpoint }}:6443
  name: {{ cluster_name }}
contexts:
- context:
    cluster: {{ cluster_name }}
    user: system:kube-scheduler
  name: {{ cluster_name }}
current-context: {{ cluster_name }}
kind: Config
preferences: {}
users:
- name: system:kube-scheduler
  user:
    client-certificate: /home/vagrant/ssl/kube-scheduler.crt
    client-key: /home/vagrant/ssl/kube-scheduler.key
